<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrong Choice</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="container">
        <h1>
            Are you sure?
        </h1>
    
        <div class="subtitle">
            Because what I’m offering
            isn’t ordinary.
            <br><br>
            It’s slow dances in the kitchen.
            Midnight conversations.
            The kind of connection people search years for.
            <br><br>
            And once it’s gone…
            it doesn’t wait.
        </div>
    
        <div class="buttons">
            <a href="/" class="btn yes">Wait… go back.</a>
        </div>
    </div>
    
</body>
</html>
