<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correct Answer</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="container">
        <h1>
            You chose us.
        </h1>
    
        <div class="subtitle">
            And I promise —
            this won’t be ordinary.
            <br><br>
            I’ll choose you on quiet days.
            On chaotic ones.
            On the days when loving feels easy
            and the days when it takes courage.
            <br><br>
            This is where it begins.
        </div>
    </div>
    
</body>
</html>
